.ui-contextmenu {
  width: 12.5em;
  padding: $unit-tiny;

  .ui-menu-separator {
    border-width: 1px 0 0 0;
  }

  .ui-submenu-list {
    width: 12.5em;
    padding: $unit-tiny;
  }

  .ui-menuitem-link {
    padding: $unit-tiny;
  }

  .ui-menuitem-icon {
    margin-right: $unit-tiny;
  }

  .ui-menuitem-link .ui-submenu-icon {
    margin-top: -$unit-small;
    right: 0;
    top: 50%;
  }
}

.ui-contextmenu {
  padding: 0;
  background-color: $color-base-white;
  border: 1px solid $color-gray-5;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);

  .ui-submenu-list {
    padding: 0;
    background-color: $color-base-white;
    border: 1px solid $color-gray-5;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .ui-menuitem {
    margin: 0;

    .ui-menuitem-link .ui-submenu-icon {
      right: $unit-small;
    }

    &.ui-menuitem-active > .ui-menuitem-link {
      background-color: $color-base-white;

      .ui-menuitem-text, .ui-menuitem-icon, .ui-submenu-icon {
        color: $text-color-on-light;
      }
    }
  }

  .ui-menu-separator {
    border: 1px solid $color-gray-5;
    border-width: 1px 0 0 0;
  }
}
