.ui-password-panel {
  padding: $unit-small;
  background-color: $color-base-white;
  color: #333333;
  border: 1px solid $color-gray-5;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  .ui-password-meter {
    height: $unit-tiny;
    //background: transparent url("../../../images/password-meter.png") no-repeat left top;
  }
}

.ui-password-info {
  margin-top: $unit-tiny;
}

