.ui-selectbutton .ui-button {
  background-color: $color-gray-5;
  border: 1px solid $color-gray-5;
  color: $text-color;
  -moz-transition: background-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  .ui-button-icon-left {
    color: $color-gray-20;
  }
  &:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: $color-gray-5;
    border-color: $color-gray-5;
    color: $text-color;
    .ui-button-icon-left {
      color: $color-gray-90;
    }
  }
  &:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
    background-color: $color-gray-5;
    border-color: $color-gray-5;
    color: $text-color;
    outline: 0 none;
    .ui-button-icon-left {
      color: $color-gray-90;
    }
  }
  &.ui-state-active {
    background-color: $color-brand-primary;
    border-color: $color-brand-primary;
    color: $color-base-white;
    .ui-button-icon-left {
      color: $color-base-white;
    }
    &:not(.ui-state-disabled):hover {
      background-color: $color-blue-dark-600;
      border-color: $color-blue-dark-600;
      color: $color-base-white;
      .ui-button-icon-left {
        color: $color-base-white;
      }
    }
    &.ui-state-focus {
      background-color: $color-blue-dark-800;
      border-color: $color-blue-dark-800;
      color: $color-base-white;
      .ui-button-icon-left {
        color: $color-base-white;
      }
    }
  }
  &:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

