.ui-button {
  margin: 0;
  color: $color-base-white;
  background-color: $color-brand-primary;
  border: 1px solid $color-brand-primary;
  font-size: 14px;
  transition: background-color 0.2s, box-shadow 0.2s;

  &:enabled {
    &:hover {
      background-color: $color-blue-dark-600;
      color: $color-base-white;
      border-color: $color-blue-dark-600;
    }

    &:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.2em $color-blue-dark-200;
    }

    &:active {
      background-color: $color-blue-dark-800;
      color: $color-base-white;
      border-color: $color-blue-dark-800;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.ui-button-icon-only .ui-button-text,
  &.ui-button-text-empty .ui-button-text {
    padding: $unit-tiny;
  }

  &.ui-button-text-icon-right .ui-button-text {
    padding: $unit-tiny $unit-large $unit-tiny $unit;
  }

  /*button icon element(s) */
  &.ui-button-icon-only .ui-button-icon-left,
  &.ui-button-text-icon-left .ui-button-icon-left,
  &.ui-button-text-icon-right .ui-button-icon-right {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    height: 1em;
  }

  &.ui-button-icon-only .ui-button-icon-left {
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    width: 1em;
    height: 1em;
  }

  &.ui-button-icon-left {
    left: .5em;
  }

  &.ui-button-icon-right {
    right: .5em;
  }

  &.ui-button-text-only .ui-button-text {
    padding: $unit-tiny $unit;
  }

  &.ui-button-text-icon-left .ui-button-text {
    padding: $unit-tiny $unit $unit-tiny $unit-huge;
  }

  &.ui-button-text-icon-right .ui-button-text {
    padding: $unit-tiny $unit-huge $unit-tiny $unit;
  }

  &.ui-button-icon-only {
    width: $unit-huge;
  }

  &.ui-button-raised {
    box-shadow: $component-box-shadow;
  }

  &.ui-button-rounded {
    border-radius: $global-radius-rounded;
  }

  &.ui-button-transparent {
    background: transparent;
    border-color: transparent;
    color: $color-brand-primary;
  }

  &.ui-state-default.ui-button-secondary {
    color: $text-color;
    background-color: $color-brand-secondary;
    border: 1px solid $color-brand-secondary;

    &:enabled {
      &:hover {
        background-color: $color-gray-10;
        color: $text-color;
        border-color: $color-gray-10;
      }

      &:focus {
        box-shadow: 0 0 0 0.2em $color-gray-5;
      }

      &:active {
        background-color: $color-gray-20;
        color: $text-color-on-dark;
        border-color: $color-gray-20;
      }
    }
  }

  &.ui-state-default.ui-button-info {
    color: $color-base-white;
    background-color: $color-status-info;
    border: 1px solid $color-status-info;

    &:enabled {
      &:hover {
        background-color: $color-blue-info-600;
        color: $color-base-white;
        border-color: $color-blue-info-600;
      }

      &:focus {
        -webkit-box-shadow: 0 0 0 0.2em $color-blue-info-200;
        -moz-box-shadow: 0 0 0 0.2em $color-blue-info-200;
        box-shadow: 0 0 0 0.2em $color-blue-info-200;
      }

      &:active {
        background-color: $color-blue-info-800;
        color: $color-base-white;
        border-color: $color-blue-info-800;
      }
    }
  }

  &.ui-state-default.ui-button-success {
    color: $color-base-white;
    background-color: $color-green;
    border: 1px solid $color-green;

    &:enabled {
      &:hover {
        background-color: $color-green-600;
        color: $color-base-white;
        border-color: $color-green-600;
      }

      &:focus {
        box-shadow: 0 0 0 0.2em $color-green-100;
      }

      &:active {
        background-color: $color-green-800;
        color: $color-base-white;
        border-color: $color-green-800;
      }
    }
  }

  &.ui-state-default.ui-button-warning {
    color: #333333;
    background-color: $color-yellow-500;
    border: 1px solid $color-yellow-500;

    &:enabled {
      &:hover {
        background-color: $color-yellow-600;
        color: $text-color;
        border-color: $color-yellow-600;
      }

      &:focus {
        box-shadow: 0 0 0 0.2em $color-yellow-100;
      }

      &:active {
        background-color: $color-yellow-800;
        color: $text-color;
        border-color: $color-yellow-800;
      }
    }
  }

  &.ui-state-default.ui-button-danger {
    color: $text-color-on-dark;
    background-color: $color-red;
    border: 1px solid $color-red;

    &:enabled {
      &:hover {
        background-color: $color-red-600;
        color: $text-color-on-dark;
        border-color: $color-red-600;
      }

      &:focus {
        box-shadow: 0 0 0 0.2em $color-red-100;
      }

      &:active {
        background-color: $color-red-800;
        color: $text-color-on-dark;
        border-color: $color-red-800;
      }
    }
  }

}

.ui-fluid .ui-button-icon-only {
  width: 2.357em;
}

.ui-fluid .ui-button-text-icon-left .ui-button-text,
.ui-fluid .ui-button-text-icon-right .ui-button-text {
  padding-left: 1em;
  padding-right: 1em;
}

.ui-buttonset {
  &.ui-button-secondary {
    > .ui-button.ui-state-default {
      color: $text-color;
      background-color: $color-brand-secondary;
      border: 1px solid $color-brand-secondary;

      &:enabled {
        &:hover {
          background-color: $color-gray-10;
          color: $text-color-on-light;
          border-color: $color-gray-10;
        }

        &:focus {
          box-shadow: 0 0 0 0.2em $color-gray-5;
        }

        &:active {
          background-color: $color-gray-20;
          color: $text-color-on-dark;
          border-color: $color-gray-20;
        }
      }
    }
  }

  &.ui-button-info {
    > .ui-button.ui-state-default {
      color: $text-color-on-dark;
      background-color: $color-blue-info-500;
      border: 1px solid $color-blue-info-500;

      &:enabled {
        &:hover {
          background-color: $color-blue-info-600;
          color: $text-color-on-dark;
          border-color: $color-blue-info-600;
        }

        &:focus {
          box-shadow: 0 0 0 0.2em $color-blue-info-200;
        }

        &:active {
          background-color: $color-blue-info-800;
          color: $text-color-on-dark;
          border-color: $color-blue-info-800;
        }
      }
    }
  }

  &.ui-button-success {
    > .ui-button.ui-state-default {
      color: $text-color-on-dark;
      background-color: $color-green-500;
      border: 1px solid $color-green-500;

      &:enabled {
        &:hover {
          background-color: $color-green-600;
          color: $text-color-on-dark;
          border-color: $color-green-600;
        }

        &:focus {
          box-shadow: 0 0 0 0.2em $color-green-100;
        }

        &:active {
          background-color: $color-green-800;
          color: $text-color-on-dark;
          border-color: $color-green-800;
        }
      }
    }
  }

  &.ui-button-warning {
    > .ui-button.ui-state-default {
      color: $text-color-on-light;
      background-color: $color-yellow;
      border: 1px solid $color-yellow;

      &:enabled {
        &:hover {
          background-color: $color-yellow-600;
          color: $text-color-on-light;
          border-color: $color-yellow-600;
        }

        &:focus {
          box-shadow: 0 0 0 0.2em $color-yellow-100;
        }

        &:active {
          background-color: $color-yellow-800;
          color: $text-color-on-light;
          border-color: $color-yellow-800;
        }
      }
    }
  }

  &.ui-button-danger {
    > .ui-button.ui-state-default {
      color: $text-color-on-dark;
      background-color: $color-red;
      border: 1px solid $color-red;

      &:enabled {
        &:hover {
          background-color: $color-red-600;
          color: $text-color-on-dark;
          border-color: $color-red-600;
        }

        &:focus {
          box-shadow: 0 0 0 0.2em $color-red-100;
        }

        &:active {
          background-color: $color-red-800;
          color: $text-color-on-dark;
          border-color: $color-red-800;
        }
      }
    }
  }

  &:not(.ui-splitbutton) .ui-button {
    @media (max-width: 640px) {
      margin-bottom: 1px;
      border-radius: $global-radius;
    }
  }
}
